@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400,700,100italic,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower:400,700');

/***scroll***/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    color: #141414;
    font-size: 68px;
    line-height: 1.5;
}



/***navbar***/

nav {
    height: 50px;
    width: 100%;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.952);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 13px;
    padding-right: 0;
}

.navbar .navbar-toggler {
    border: none;
    border-color: grey;
    margin-right: 5px;
   
}

.navbar-brand {
    font-family: 'Indie Flower', sans-serif;
    font-size: 35px;
    text-align: left;
}

.navbar .navbar-collapse {
    text-align: right;
    margin-right: 13px;
}

.navbar-center {
    text-align: right;
}

.navbar-light .navbar-nav .nav-link {
    color: #363636;
    
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #F26B38
}

.navbar-light .navbar-brand:hover {
    color: #F26B38
}

/**Container**/

.main-container {
    height: 100vh;
    background: url('..//images/black-pen.jpg')no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #141414;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.textMain {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    font-size: 13px;
    color: #141414;
}

.title {
    font-size: 68px;
    text-transform: uppercase;
}

/**Footer**/


.footer-container {
    background: white;
    text-align: center;
    color: #141414;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 13px;
    padding-bottom: 5px;
}

.social-icons {
    color: #363636;
    font-size: 20px;
}

.contain-icons {
    justify-content: center;
}

.footer {
    height: 50px;
}

/**** Font awesome icon properties ****/

.icon {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

i {
    color: #363636;
}

i:hover {
    color: orange;
}





